
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 240, 255, 0.818);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.card-white {
    background-color: white;
    padding: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 20px 0;
    text-align: center;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}


h1, h2 {
    font-weight: 700; 
    color: #0073e6; 
    font-size: 35px; 
    margin-bottom: 10px;
}


p {
    font-weight: 400; 
    font-size: 20px; 
    color: #333;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}


strong {
    font-weight: 700;
    color: #0073e6; 
}


.brown-text {
    color: rgb(104, 21, 21); 
}


.btn-blue {
    background-color: rgb(14, 13, 2);
    color: rgb(255, 243, 105);
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.gradient-text {
    background: linear-gradient(45deg, #ff7e5f, #7bfe93);
    -webkit-background-clip: text;
    color: transparent;
}


.icon {
    font-size: 30px;
    color: #0073e6;
    margin: 10px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #005bb5;
}
.icon {
    font-size: 24px; 
    color: white; 
    background-color: #FFD700; 
    padding: 15px; 
    border-radius: 50%; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.icon:hover {
    background-color: #f5c400; 
    transform: translateY(-3px); 
}

.img-circle {

    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
}

.btn-blue:hover {
    background: linear-gradient(45deg, #005bb5, #0073e6); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-3px);
}
.btn-blue:active {

    background: linear-gradient(45deg, #003a80, #005bb5); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
    transform: translateY(1px); 
}
.container {
    max-width: 2500px; 
    margin: 0 auto;    
    padding: 20px;    
    width: 100%;      
    box-sizing: border-box;
    display: flex;      
    flex-direction: column; 
    align-items: center;   
}